.sd-hello {
    background-color: #343a40; /* Fondo oscuro para la barra de navegación */
}

.dg-mia {
    background-color: #f8f9fa; /* Fondo claro para el cuerpo */
}
body {
    font-family: 'Poppins', sans-serif;
}
.carousel {
    height: 50vh; /* Ajusta la altura del carrusel a 50vh */
	
}
.footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
    text-align: center;
}
